<% if(typeof errors != 'undefined') { %>
  <% errors.forEach(function(error){ %>

    <div class="alert alert-warning alert-dismissible fade show" role="alert">
      <%= error.msg %>
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">X</button>
    </div>
  <% }) %>
<% } %>


<% if(success_msg != "") { %>
    <div class="alert alert-success alert-dismissible fade show" role="alert">
      <%= success_msg %>
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">X</button>
    </div>

<% } %>




<% if(error_msg != "") { %>

    <div class="alert alert-danger alert-dismissible fade show" role="alert">
      <%= error_msg %>
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">X</button>
    </div>

<% } %>


<% if(error != "") { %>

    <div class="alert alert-danger alert-dismissible fade show" role="alert">
      <%= error %>
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">X</button>
    </div>

<% } %>
