<!-- <div class="row mt-5">
  <div class="col-md-6 m-auto">
    <div class="card card-body">
      <h1 class="text-center mb-3"><font color="red"><i class="fas fa-times-circle"></i></font> Payment failed.</h1>
        <div class="container ">
        <p>Please try again after some time or contact the developer at contact@adityagarwal.co</p>
        <p>Incase of payment deduction, please contact us at contact@iamyc.com for refund</p>
        </div>
    </div>
  </div>
</div>

<div class="row mt-5"><div class="col-md-6 m-auto"><div class="card card-body"><h1 class="text-center mb-3"><font color="red"><i class="fas fa-times-circle"/></font> Payment failed.</h1><div class="container "><p>Please try again after some time or contact the developer at contact@adityagarwal.co</p><p>Incase of payment deduction, please contact us at contact@iamyc.com for refund</p></div></div></div></div> -->
