<h1 class="mt-4">Dashboard</h1>
<p class="lead mb-3">Welcome <%= user.name %></p>
<a href="/users/logout" class="btn btn-secondary m-2">Logout</a>

<br>
<% if(user.email == "admin@admin.com"){ %>
  <a href="./dashboard/add">
    <button type="button" class="btn btn-success m-2">Add New Member</button>
  </a>

  <a href="./dashboard/all">
    <button type="button" class="btn btn-success m-2">All Members</button>
  </a>
<% } %>
<a href="./dashboard/search">
  <button type="button" class="btn btn-success m-2">Search for existing members</button>
</a>
